body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif;
}


.card {
  width: 500px;
  padding: 50px;
  height: 250px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #222;
  border-bottom:15px solid #fff;
}

.card h1 {
  position: absolute;
  top: -20px; /* "Peek-out" effect */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #ff007f; /* Bright pink background */
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
}

.card p {
  margin-right: 100px;
  min-height: 200px;
  color: #333;
  font-size: 16px;
  line-height: 1.9;
  background-color: #fff;
  align-content: center;
  padding: 10px 20px;
}
